@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700,700i,900&display=swap');
*{
	margin: 0; padding: 0;
	box-sizing:border-box;
  font-family: 'Roboto', sans-serif;

}
.menu {
	background-color:#6ea0cf3b;
	min-height: 100px;
	color: #fff;
}
.menu .navbar a{
	color: #fff;
}
#navbarNavDropdown li a{
	color: #fff;
}

header {
    min-height: 80vh;
    background-image: radial-gradient( circle 879px at 10.4% 22.3%, #99caff 0%, rgba(15, 29, 234, 0.1) 93.6% ), url(../images/headimg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    background-attachment: fixed;
}
  .carousel-inner img {
    width: 100%;
    height: 100%;
  }
  .headtext{
justify-content: center;
margin: 50px;
  }

	/*3card section*/
.card{
	border:none!important;
}
  .card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1.25rem;
    margin-top: -60px;
    z-index: 888;
      list-style: none!important;
}
.card-body .cardtext{
	background-color: #fff;
	min-height:100px;

}
.card-text{
    text-align: center!important;
}

/*category section*/
.cate-list a{
    text-decoration: none;
    color: black;
}
.cate-list{
    color: red;
 text-decoration: none;
}

#category {
    background-color: #de19191c;
    border: none!important;
    line-height:40px;

}
.card-header {
    padding: .75rem 1.25rem;
    margin-bottom: 0;
    text-align: center;
     background-color:transparent!important; 
     border-bottom:1px solid #fff!important; 
    border-bottom-right-radius: 15px!important;
    border-bottom-left-radius: 15px!important;
}

.modal-content{
  background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(178,178,212,1) 0%,
   rgba(253,222,249,0) 79.5% ),url(../images/headimg.jpg)!important;
  background-repeat: no-repeat;
  background-size: cover;
}
.sign_form{
  margin-left: 100px;
}

.sign_form .form-control{
  width: 70%!important;
}
.login_from{
  display: none;
  margin: 30px;
}
.Login{
  color: red!important;
  box-sizing: border-box;
  border-top: 1px solid red;
  border-bottom: 1px solid red;
  border-radius: 10px;
}

.logetxt{
  color:#000;
  font-size: 1.2rem;
   font-family: 'Roboto', sans-serif;
   font-weight: bold;

}

.modepost_table th,td{ 
width: 150px; 
text-align: center; 
border: 1px solid black; 
padding: 5px;
}

.modepost_table textarea{
  width: 100%;
  height: 150px;
  border: none;
}

/*////////////////*/
.footer{
   background-image:linear-gradient(to right top, #234253, #1c404d, #173d47, #143b40, #133839);
  height: 200px;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  /*border:1px solid red;*/
}