@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700,700i,900&display=swap');
*{
	margin: 0; padding: 0;
	box-sizing:border-box;
  font-family: 'Roboto', sans-serif;

}
.menu {
	background-color:#6ea0cf3b;
	min-height: 100px;
	color: #fff;
}
.menu .navbar a{
	color: #fff;
}
#navbarNavDropdown li a{
	color: #fff;
}

header {
    min-height: 80vh;
    background-image: radial-gradient( circle 879px at 10.4% 22.3%, #99caff 0%, rgba(15, 29, 234, 0.1) 93.6% ), url(../images/headimg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    background-attachment: fixed;
}
  .carousel-inner img {
    width: 100%;
    height: 100%;
  }
  .headtext{
justify-content: center;
margin: 50px;
  }

	/*3card section*/
.card{
	border:none!important;
}
  .card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1.25rem;
    margin-top: -60px;
    z-index: 888;
      list-style: none!important;
}
.card-body .cardtext{
	background-color: #fff;
	min-height:100px;

}
.card-text{
    text-align: center!important;
}

/*category section*/
.cate-list a{
    text-decoration: none;
    color: black;
}
.cate-list{
    color: red;
 text-decoration: none;
}

#category {
    background-color: #de19191c;
    border: none!important;
    line-height:40px;

}
.card-header {
    padding: .75rem 1.25rem;
    margin-bottom: 0;
    text-align: center;
     background-color:transparent!important; 
     border-bottom:1px solid #fff!important; 
    border-bottom-right-radius: 15px!important;
    border-bottom-left-radius: 15px!important;
}

.modal-content{
  background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(178,178,212,1) 0%,
   rgba(253,222,249,0) 79.5% ),url(../images/headimg.jpg)!important;
  background-repeat: no-repeat;
  background-size: cover;
}
.sign_form{
  margin-left: 100px;
}

.sign_form .form-control{
  width: 70%!important;
}
.login_from{
  display: none;
  margin: 30px;
}
.Login{
  color: red!important;
  box-sizing: border-box;
  border-top: 1px solid red;
  border-bottom: 1px solid red;
  border-radius: 10px;
}

.logetxt{
  color:#000;
  font-size: 1.2rem;
   font-family: 'Roboto', sans-serif;
   font-weight: bold;

}

.modepost_table th,td{ 
width: 150px; 
text-align: center; 
border: 1px solid black; 
padding: 5px;
}

.modepost_table textarea{
  width: 100%;
  height: 150px;
  border: none;
}

/*////////////option form//////*/

#option-form{
  display: none;
}

/*////////////////*/
footer{
  background-image: linear-gradient( 89.7deg,  rgba(0,0,0,1) -10.7%, rgba(53,92,125,1) 88.8% );
  min-height: 40vh;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  /*border:1px solid red;*/
}
.footer_item{
  height: 300px;
  max-width: 600px;
  /*background-color: red;*/
  margin-top: 40px;
  color: #E6CDAE;
}
#f_input{
      border: 1px solid #80ff9d!important;
    box-shadow: inset 14px -1px 20px 4px #c3f7cf!important;
    color: #312929!important;
    width: 200px;
    height: 30px;
    border-radius: 20px;
    text-align: center;
}
#f_input:focus{
border-color: #00fe36!important;
    box-shadow: -3px 9px 20px 0px rgba(50, 50, 50, 0.35)!important;
    border:none;
    outline: 0;
}
#f_btn{
width: 70px;
height: 35px;
border:none;
border-radius: 20px;
background-image: linear-gradient( 179.5deg,  rgba(255,230,69,1) 3.3%, rgba(255,157,73,1) 96% );
    /*box-shadow: -3px 9px 20px 0px rgba(50, 50, 50, 0.35)!important;*/
    color: #fff;
}
#f_btn:focus{
  border-color: #00fe36!important;
    box-shadow: -3px 9px 20px 0px rgba(50, 50, 50, 0.35)!important;
    border:none;
    outline: 0;
}
#f_btn:hover{
  background-image: radial-gradient( circle 464px at 51.6% 98.9%,  rgba(254,243,87,1) 13.4%, rgba(248,164,66,1) 100.2% );
  color: #98acc1;
  font-weight: 500;
}
.icons a{
text-decoration: none;
}
.icons a i{
  color: #fff;
  font-size: 29px;
  margin:15px;
}